/* .App {
  text-align: center;
} */

.App {
  display: flex;
  flex-direction: row;
  background-color: #282c34;
  font-family: 'Roboto', sans-serif;
}

.about-container {
  background-color: lightgrey;
  padding: 15px;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav {
  border: 2px solid black;
}

.button-div {
  display: flex;
  flex-direction: column;
}

.card {
  border: 1px solid black;
  background-color: rgb(54, 51, 51);
  color: white;
  width: fit-content;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  box-shadow: 0 3px 10px 0;
}

.card:hover {
  background-color: white;
  color: black;
}



.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: lightgray;
}

.form input {
  padding: 5px;
}


.landing-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: stretch;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-page-button {
  border-radius: 5px;
  justify-self: center;
  margin: 5px;
  padding: 10px;
}

/* .landing-header {
  color: rgb(223, 222, 222);
  padding-bottom: 200px;
} */

.main {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
}

.modal {
  z-index: 2;
}

.movie-container {
  align-items: center;
  background-color: #282c34;
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.movie-page h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.movie-page {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #282c34;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  margin-bottom: 15px;
}

.pagination text {
  color: white
}

/* .poster{
  padding:5px;
  border-radius: 10px;
} */

.search-bar {
  border-radius: 10px;
  border: none;
  background-color: lightgray;
  display: flex;
  padding: 10px;
  width: 35%;
}

.search-bar input {
  background-color: lightgray;
  outline: none;
  border: none;
  box-shadow: none;
  font-weight: bold;
  font-size: 25px;
}

.search-bar input {
  outline: none;
}

.search-bar input:focus {
  outline: none;
}

.tvshow-page {
  padding: 10px;
}

.tvshow-page h1 {
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-container {
  align-items: center;
  background-color: #282c34;
  display: grid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
}

.star-icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

div .signup-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;

}

div .signup-form-container {
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form span{
  font-weight: bold;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.signup-form input {
  margin: 5px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
}

.login-form input {
  margin: 5px;
  width: 300px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.login-form button {
  margin-top: 2px;
  padding: 7px;
  border-radius: 10px;
  background-color: #ff4533;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.signup-button {
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ff4533;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.user-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.watchlist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}