.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav {
  border: 2px solid black;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}